body {
  font-family: 'Open Sans', sans-serif;
  background: #e4e7ec;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h2 {
    border-bottom: solid 1px #888;
    color: #4A4949;
}

a {
  color: #000;
}

ul {
  margin-bottom: 0;
}

.list-inline > li {
  padding-left: 15px;
  padding-right: 15px;
}

.text-muted {
  color: #90939a;
}

.navbar {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.navbar-header {
  float: left;
  padding-left: 15px;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding: 15px;
}

.navbar-default {
  color: #fff;
  background: #fff;
}

.navbar-default .navbar-brand {
  color: #333;
  background-color: #ffe939;
}

.navbar-default .navbar-brand:hover {
  color: #ffe939;
  background-color: #333;
}

.navbar-brand {
  margin-left: -15px;
  transition: 0.25s all;
}

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
}
.admin-panel {
    border-color: #cfd9D7;
    border-radius: 2px;
    box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
    width: 70%;
    margin: auto;
    margin-top: 40px;
    background-color: #f6f6f6;
}

.panel-default > .panel-heading {
  font-size: 85%;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  background-color: #f6f6f6;
  border-color: #cfd9db;
}

.form-control {
  border-radius: 0;
}

.center-form {
  width: 330px;
  margin: 12% auto;
}

.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.alert-material {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #323232;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.profile-picture {
  height: 100px;
  display: block;
}

.btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.btn-primary {
  background-color: #4285f4;
}

.btn-primary:hover {
  background-color: #3367d6;
}

.btn-success {
  background-color: #0f9d58;
}

.btn-success:hover {
  background-color: #196c4a;
}

.btn-danger {
  background-color: #db4437;
}

.btn-danger:hover {
  background-color: #b04c3b;
}

.btn-group-vertical .btn {
  margin-bottom: 10px;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-radius: 2px;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 2px;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 2px;
}

.btn-lg {
  font-size: 14px;
}

.btn [class^='ion-'] {
  margin-right: 5px;
}

.btn .fa {
  margin-right: 5px;
}

/*********************
* Social Buttons
*********************/

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border: 1px solid #0073ae;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  color: #fff;
  background-color: #0069a4;
}

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
  background-color: #0090c7;
}

.btn-foursquare {
  color: #fff;
  background-color: #f94877;
  border: 1px solid #f8215a;
}

.btn-foursquare:hover,
.btn-foursquare:focus {
  color: #fff;
  background-color: #f71752;
}

.btn-github {
  color: #fff;
  background-color: #444;
  border: 1px solid #3b3b3b;
}

.btn-github:hover,
.btn-github:focus {
  color: #fff;
  background-color: #303030;
}

.btn-instagram {
  color: #fff;
  background-color: #3f729b;
}

.btn-instagram:hover,
.btn-instagram:focus {
  color: #fff;
  background-color: #305777;
}

.btn-yahoo {
  color: #fff;
  background-color: #720e9e;
}

.btn-yahoo:hover,
.btn-yahoo:focus {
  color: #fff;
  background-color: #600e85;
}

.btn-live {
  color: #fff;
  background-color: #2672ec;
}

.btn-live:hover,
.btn-live:focus {
  color: #fff;
  background-color: #125acd;
}

.btn-twitch {
  color: #fff;
  background-color: #6441a5;
}

.btn-twitch:hover,
.btn-twitch:focus {
  color: #fff;
  background-color: #7550ba;
}

.btn-bitbucket {
  color: #fff;
  background-color: #10375e;
}

.btn-bitbucket:hover,
.btn-bitbucket:focus {
  color: #fff;
  background-color: #0d2c4a;
}

/*********************
* Animations
*********************/

.fadeZoom.ng-enter {
  -webkit-animation-duration: 0.6s, 0.2s;
  -moz-animation-duration: 0.2s, 0.2s;
  -ms-animation-duration: 0.2s, 0.2s;
  animation-duration: 0.2, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
  -moz-animation-name: fadeIn, zoomIn;
  -ms-animation-name: fadeIn, zoomIn;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-enter {
  -webkit-animation-duration: 0.2s, 0.2s;
  -moz-animation-duration: 0.2s, 0.2s;
  -ms-animation-duration: 0.2s, 0.2s;
  animation-duration: 0.2s, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
  -moz-animation-name: fadeIn, zoomIn;
  -ms-animation-name: fadeIn, zoomIn;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-leave {
  -webkit-animation: fadeOutDown 0.2s;
  -moz-animation: fadeOutDown 0.2s;
  -ms-animation: fadeOutDown 0.2s;
  animation: fadeOutDown 0.2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    -moz-transform: scale3d(0.8, 0.8, 0.8);
    -ms-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}

.add_new_device {
  width: 248px;
  margin: auto;
  text-align: center;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 1px 6px 16px 0px rgba(0, 0, 0, 0.3);
}

.device_param_box {
  margin-bottom: 20px;
  padding: 5px;
  width: 150px;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 0px 16px 0px rgb(115, 115, 115);
}

tr:nth-child(even) {
  background-color: #f2f2f2
}
tr:nth-child(odd) {
  background-color: #ffffff
}

tr:hover {
  background-color: #92C292;
  cursor: pointer
}

.devices_list {
  padding: 30px;
  margin: auto;
  width: 90%;
}

.spacer {
  padding: 25px;
  margin: auto;
  width: 180px;
}

.spacer_edit {
  padding-top: 25px;
  margin: auto;
}

.selected {
  padding: 7px;
  margin-bottom: 23px;
}

.button {
  padding: 7px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-left: 0px;
  font-weight: normal;
}

.input_style {
  padding: 7px;
  margin-bottom: 5px;
  color: #555;
  border-radius: 3px;
  background-color: #fff;
  width: 190px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear .2s, box-shadow linear .2s;
}

.input_style:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.menu {
  background: #4C4C4C;
  margin-top: 0;
  height: 60px;
  border-bottom: solid #8E8E8E 3px;
  box-shadow: 1px 6px 16px 0px rgba(0, 0, 0, 0.3);
}
.menu_padding {
  width: 550px;
  height: 30px;
  float: right;
  padding: 15px;
  margin-right: 2%;
  margin-left: auto;
}
.menu_padding_non_admin {
  width: Auto;
  height: 30px;
  float: right;
  padding: 15px;
  margin-right: 2%;
  margin-left: auto;
}
.main_link {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
  padding-right: 14px;
  border-right: solid #888 1px;
}
.last_link {
  color: #fff;
  text-decoration: none;
  margin-right: 5px;
  padding-right: 14px;
}
.main_logo {
  margin-left: 2%;
  margin-top: 8px;
}
a {
  color: #999;
}
a:hover {
  color: #0b97c4;
}
body {
  background-color: #D8D8D8;
}
.td_remove {
  background-color: #FFFFFF;
  border-left: solid 1px #888;
  border-bottom: none;
}
.heading_add {
  margin: auto;
  text-align: center;
  padding: 20px;
}
select {
  width: 190px;
  padding: 7px;
  margin-bottom: 5px;
  transition: border linear .2s, box-shadow linear .2s;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  th {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Device Name"; }
  td:nth-of-type(2):before { content: "Device Type"; }
  td:nth-of-type(3):before { content: "Device S/N"; }
  td:nth-of-type(4):before { content: "Manufacturer"; }
  td:nth-of-type(5):before { content: "Model"; }
  td:nth-of-type(6):before { content: "SW Version"; }
  td:nth-of-type(7):before { content: "Screen Resolution"; }
  td:nth-of-type(8):before { content: "RAM"; }
  td:nth-of-type(9):before { content: "Checked Out"; }
}
.square {
  float: left;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.66%;
  overflow: hidden;
  border: solid 1px #888;
}
.table-cell{
  display:table-cell;
  vertical-align:middle;
}
.listing-cell {
  display:table-cell;
  vertical-align:top;
}
.sub-icon {
  font-size: 3.2em;
  text-align: center;
}
.center_select {
    width: 90px;
}
.content {
    position:absolute;
    height:100%; /* = 100% - 2*5% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 5%;
    cursor: pointer;
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.center-align {
    text-align: center;
}
.title_holder {
    padding-left: 30px;
    padding-top: 5px;
    margin-right: auto;
    margin-left: 0px;
    width: 90%;
}
.login_h2 {
  padding-bottom: 10px;
}