<div>
  <div  ng-hide="ctrl.hideDeviceList" class="devices_list">
    <h2>Available Devices</h2>
    <div class="sort">
      <p>Sort by:</p>
      <select id="sort_select" class="selected" data-ng-model="ctrl.selectedSort">
        <option value="name">Name A-Z</option>
        <option value="-name">Name Z-A</option>
        <option value="ram">RAM Least First</option>
        <option value="-ram">RAM Most First</option>
      </select>
    </div>
    <table>
      <tr>
        <th>Device Name</th>
        <th>Device Type</th>
        <th>Device S/N</th>
        <th>Device Manufacturer</th>
        <th>Device Model</th>
        <th>Software Version</th>
        <th>Screen Resolution</th>
        <th>RAM</th>
        <th></th>
      </tr>
      <tr ng-repeat="device in ctrl.devices track by $index | orderBy: [ctrl.selectedSort, 'name']" class="device-list">
        <div class="text">
          <td>{{device.device_name}}</td>
          <td>{{device.device_type}}</td>
          <td>{{device.device_sn}}</td>
          <td>{{device.device_manufacturer}}</td>
          <td>{{device.device_model}}</td>
          <td>{{device.sw_version}}</td>
          <td>{{device.screen_resolution}}</td>
          <td>{{device.device_ram}}</td>
        </div>
          <td class="td_remove"><button ng-click="ctrl.removeItem(device.id, $index); $event.stopPropagation()">CheckOut</button></td>
      </tr>
    </table>
  </div>
  </div>