<div ng-controller="NavbarCtrl as ctrl" class="navbar navbar-default">
  <nav class="menu">
    <a href="#/"><img class="main_logo" src="/img/vynyl.svg" alt="Vynyl Logo" height="40" width="162"></a>
    <div class="menu_padding_non_admin">
      <a ng-if="ctrl.authorized" class="main_link" href="#/device-inventory" ng-cloak>Administration</a>
      <a class="main_link" href="#/available-devices">Available Devices</a>
      <a class="main_link" href="#/checked-out">Checked Out</a>
      <a class="main_link" href="#/profile">Profile</a>
      <a class="last_link" href="/#/logout">Logout</a>
    </div>
  </nav>
</div>
<div>
  <div class="devices_list">
    <h2>Available Devices</h2>
    <div class="sort">
      <p>Sort by:</p>
      <select id="sort_select" class="selected" data-ng-model="ctrl.selectedSort">
        <option value="device_name">Name A-Z</option>
        <option value="-device_name">Name Z-A</option>
        <option value="device_ram">RAM Least First</option>
        <option value="-device_ram">RAM Most First</option>
      </select>
    </div>
    <table>
      <tr class="special_tr">
          <th><i class="ion-ipad"></i> Name</th>
          <th><i class="ion-funnel"></i> Type</th>
          <th><i class="ion-ios-barcode"></i> S/N</th>
          <th><i class="ion-soup-can"></i> Manufacturer</th>
          <th><i class="ion-information-circled"></i> Model</th>
          <th><i class="ion-code-working"></i> Software Version</th>
          <th><i class="ion-monitor"></i> Screen Resolution</th>
          <th><i class="ion-speedometer"></i> RAM</th>
          <th><i class="ion-location"></i> Location</th>
      </tr>
      <tr ng-repeat="device in ctrl.devices | orderBy: [ctrl.selectedSort, 'device_name']" ng-click="ctrl.checkOutDevice(device); $event.stopPropagation()" class="device-list device-checkout">
        <div class="text">
          <td>{{device.device_name}}</td>
          <td>{{device.device_type}}</td>
          <td>{{device.device_sn}}</td>
          <td>{{device.device_manufacturer}}</td>
          <td>{{device.device_model}}</td>
          <td>{{device.sw_version}}</td>
          <td>{{device.screen_width}}x{{device.screen_height}}</td>
          <td>{{device.device_ram}}{{device.ram_type}}</td>
          <td>{{device.location}}</td>
        </div>
      </tr>
    </table>
  </div>
  </div>
<div style="visibility: hidden">
    <div class="md-dialog-container" id="checkoutDevice">
        <md-dialog layout-padding="" class="modal_body">
            <div class="modal_content">
                <h1>Checkout Device</h1>
                <form name="device_form">
                    <div class="form-group">
                        <input class="input_style device_ram_input" type="text" ng-model="ctrl.checkoutDuration" placeholder="Checkout Duration">
                        <select class="input_style_select side_input" ng-model="ctrl.checkoutDurationType">
                            <option value="Hours">Hours</option>
                            <option value="Days">Days</option>
                            <option value="Weeks">Weeks</option>
                        </select>
                    </div>
                </form>
                <button class="btn btn-primary btn-lg button_regular" ng-click="ctrl.cancel()">Cancel</button>
                <button class="btn btn-primary btn-lg button_regular" ng-disabled="device_form.$invalid" ng-click="ctrl.runCheckout()">Checkout</button>
            </div>
        </md-dialog>
    </div>
</div>