<div ng-controller="NavbarCtrl as ctrl" class="navbar navbar-default">
    <nav class="menu">
        <a href="#/"><img class="main_logo" src="/img/vynyl.svg" alt="Vynyl Logo" height="40" width="162"></a>
        <div class="menu_padding_non_admin">
            <a ng-if="ctrl.authorized" class="main_link" href="#/device-inventory" ng-cloak>Administration</a>
            <a class="main_link" href="#/available-devices">Available Devices</a>
            <a class="main_link" href="#/checked-out">Checked Out</a>
            <a class="main_link" href="#/profile">Profile</a>
            <a class="last_link" href="/#/logout">Logout</a>
        </div>
    </nav>
</div>
<div>
    <div ng-hide="ctrl.hideDeviceList" class="devices_list">
        <h2>Checked Out</h2>
        <div class="sort">
            <p>Location:</p>
            <select id="sort_select" class="selected" data-ng-model="ctrl.selectedLocation" ng-change="ctrl.filterLocation()">
                <option value="Boise">Boise</option>
                <option value="LA">L.A.</option>
                <option value="Laguna">Laguna</option>
            </select>
        </div>
        <table>
            <tr class="special_tr">
                <th class="clickable" ng-click="ctrl.selectedSort = 'device_name'"><i class="ion-ipad"></i> Name</th>
                <th class="clickable" ng-click="ctrl.selectedSort = 'device_type'"><i class="ion-funnel"></i> Type</th>
                <th class="clickable" ng-click="ctrl.selectedSort = 'device_sn'"><i class="ion-ios-barcode"></i> S/N</th>
                <th class="clickable" ng-click="ctrl.selectedSort = 'device_manufacturer'"><i class="ion-soup-can"></i> Manufacturer</th>
                <th class="clickable" ng-click="ctrl.selectedSort = 'device_model'"><i class="ion-information-circled"></i> Model</th>
                <th class="clickable" ng-click="ctrl.selectedSort = 'location'"><i class="ion-location"></i> Location</th>
                <th class="clickable" ng-click="ctrl.selectedSort = 'duration'"><i class="ion-android-time"></i> Checkout Duration</th>
                <th class="clickable" ng-click="ctrl.selectedSort = 'checked_out_user'"><i class="ion-person"></i> Checked Out Too</th>
            </tr>
            <tr ng-repeat="device in ctrl.devices | orderBy: [ctrl.selectedSort, 'device_name']" class="device-list">
                <div class="text">
                    <td>{{device.device_name}}</td>
                    <td>{{device.device_type}}</td>
                    <td>{{device.device_sn}}</td>
                    <td>{{device.device_manufacturer}}</td>
                    <td>{{device.device_model}}</td>
                    <td>{{device.location}}</td>
                    <td>{{device.duration}} {{device.duration_type}}</td>
                    <td>{{device.checked_out_user}} <i ng-if="device.checked_out_user_id == ctrl.currentUser" class="ion-checkmark-round icon-big check-in" ng-click="ctrl.checkInDevice(device._id); $event.stopPropagation()"></i></td>
                </div>
                </td>
            </tr>
        </table>
        <h2 ng-if="ctrl.showNoCheckouts" class="no_checkouts"><i class="ion-information-circled"></i> No Devices Checked Out!</h2>
    </div>
</div>