<div ng-controller="NavbarCtrl as ctrl" class="navbar navbar-default">
    <nav class="menu">
        <a href="#/"><img class="main_logo" src="/img/vynyl.svg" alt="Vynyl Logo" height="40" width="162"></a>
        <div class="menu_padding_non_admin">
            <a ng-if="ctrl.authorized" class="main_link" href="#/device-inventory" ng-cloak>Administration</a>
            <a class="main_link" href="#/available-devices">Available Devices</a>
            <a class="main_link" href="#/checked-out">Checked Out</a>
            <a class="main_link" href="#/profile">Profile</a>
            <a class="last_link" href="/#/logout">Logout</a>
        </div>
    </nav>
</div>
<div>
  <div ng-if="ctrl.Authorized">
      <div class="title_holder" >
      <h2>Administration</h2>
      </div>
      <div class="admin-panel panel-default">
          <div class="panel-heading">Management Options</div>
          <div class="panel-body">
              <div ui-sref="manage-devices" class="square">
                  <div class="content">
                      <div class="table">
                          <div class="table-cell">
                              <div class="ion-ipad sub-icon"></div>
                              <p class="center-align">Manage Devices</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div ui-sref="manage-users" class="square">
                  <div class="content">
                      <div class="table">
                          <div class="table-cell">
                              <div class="ion-ios-people sub-icon"></div>
                              <p class="center-align">Manage Users</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div ui-sref="manage-checkouts" class="square">
                  <div class="content">
                      <div class="table">
                          <div class="table-cell">
                              <div class="ion-archive sub-icon"></div>
                              <p class="center-align">Manage Checkouts</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="stats_panel">
          <div class="stats">
              <h2 class="ion-stats-bars"> Statistics</h2>
              <div class="stats_spacer">
                  <span class="stat_span">
                  <h3 class="stat_text">Devices</h3>
                      <p class="stat_text stat-extra">{{ctrl.counts.device_count}}</p>
              </span>
                <span class="stat_span">
                  <h3 class="stat_text">Users</h3>
                    <p class="stat_text stat-extra">{{ctrl.counts.user_count}}</p>
              </span>
               <span class="stat_span">
                  <h3 class="stat_text">Checkouts</h3>
                   <p class="stat_text stat-extra">{{ctrl.counts.free_count}}</p>
              </span>
              </div>
          </div>
          <div class="devices_list" >
              <h2><i class="ion-ios-information-outline"></i> Recent Events Log</h2>
              <table>
                  <tr class="special_tr">
                      <th><i class="ion-compose"></i> Event Type</th>
                      <th><i class="ion-clock"></i> Time</th>
                      <th><i class="ion-ios-person-outline"></i> User</th>
                      <th><i class="ion-ios-stopwatch-outline"></i> Duration</th>
                  </tr>
                  <tr ng-repeat="stat in ctrl.stats" ui-sref="edit-device({device: device})" class="device-list">
                      <div class="text">
                          <td>{{stat.type}}</td>
                          <td>{{stat.time * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                          <td>{{stat.user_name}}</td>
                          <td>{{stat.duration}}</td>
                      </div>
                  </tr>
              </table>
              <button type="button" ng-csv="ctrl.getStatsFull()" csv-header="['id', 'type', 'time', 'user name', 'user id', 'device_id', 'duration']" filename="vynl-tracker-log.csv">Export as CSV</button>
              <button type="button" ng-click="ctrl.dropStats()">Clear Statistics</button>
          </div>
      </div>
  </div>
</div>