<div ng-controller="NavbarCtrl as ctrl" class="navbar navbar-default">
    <nav class="menu">
        <a href="#/"><img class="main_logo" src="/img/vynyl.svg" alt="Vynyl Logo" height="40" width="162"></a>
        <div class="menu_padding_non_admin">
            <a ng-if="ctrl.authorized" class="main_link" href="#/device-inventory" ng-cloak>Administration</a>
            <a class="main_link" href="#/available-devices">Available Devices</a>
            <a class="main_link" href="#/checked-out">Checked Out</a>
            <a class="main_link" href="#/profile">Profile</a>
            <a class="last_link" href="/#/logout">Logout</a>
        </div>
    </nav>
</div>
<div>
  <div ng-if="ctrl.Authorized">
      <div class="title_holder" >
      <h2>Administration</h2>
      </div>
      <div class="admin-panel panel-default">
          <div class="panel-heading">Management Options</div>
          <div class="panel-body">
              <div ui-sref="manage-devices" class="square">
                  <div class="content">
                      <div class="table">
                          <div class="table-cell">
                              <div class="ion-ipad sub-icon"></div>
                              <p class="center-align">Manage Devices</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div ui-sref="manage-users" class="square">
                  <div class="content">
                      <div class="table">
                          <div class="table-cell">
                              <div class="ion-ios-people sub-icon"></div>
                              <p class="center-align">Manage Users</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div ui-sref="manage-checkouts" class="square">
                  <div class="content">
                      <div class="table">
                          <div class="table-cell">
                              <div class="ion-archive sub-icon"></div>
                              <p class="center-align">Manage Checkouts</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>