<div ng-controller="NavbarCtrl as ctrl" class="navbar navbar-default">
    <nav class="menu">
        <a href="#/"><img class="main_logo" src="/img/vynyl.svg" alt="Vynyl Logo" height="40" width="162"></a>
        <div class="menu_padding_non_admin">
            <a ng-if="ctrl.authorized" class="main_link" href="#/device-inventory" ng-cloak>Administration</a>
            <a class="main_link" href="#/available-devices">Available Devices</a>
            <a class="main_link" href="#/checked-out">Checked Out</a>
            <a class="main_link" href="#/profile">Profile</a>
            <a class="last_link" href="/#/logout">Logout</a>
        </div>
    </nav>
</div>
<div>
    <div ng-if="ctrl.Authorized">
        <div class="devices_list">
            <h2><i class="ion-person-stalker"></i> User Management</h2>
            <div class="sort">
                <p>Sort by:</p>
                <select class="input_style_select" id="sort_select_user" class="selected" data-ng-model="ctrl.selectedSortUser">
                    <option value="displayName">Name A-Z</option>
                    <option value="-displayName">Name Z-A</option>
                    <option value="email">Email A-Z</option>
                    <option value="-email">Email Z-A</option>
                    <option value="email">Email A-Z</option>
                    <option value="role">Admin First</option>
                    <option value="-role">Standard First</option>
                </select>
            </div>
            <table>
                <tr class="special_tr">
                    <th><i class="ion-person"></i> Name</th>
                    <th><i class="ion-at"></i> Email</th>
                    <th><i class="ion-key"></i> Role</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="user in ctrl.users | orderBy: [ctrl.selectedSortUser, 'name']" class="device-list">
                    <div class="text">
                        <td>{{user.displayName}}</td>
                        <td>{{user.email}}</td>
                        <td class="td_role">
                            <select class="input_style_select space-right" id="role_select" class="selected" data-ng-model="user.role">
                                <option value="Admin">Admin</option>
                                <option value="Standard">Standard</option>
                                <option value="Deactivated">Deactivated</option>
                            </select>
                            <button ng-click="ctrl.setRole(user._id, user.role); $event.stopPropagation()">Set Role</button>
                        </td>
                    </div>
                    <td><i class="ion-edit icon-big" ng-click="ctrl.editUser(user._id); $event.stopPropagation()"></i></td>
                    <td><i class="ion-close icon-big" ng-click="ctrl.removeUser(user._id); $event.stopPropagation()"></i></td>
                </tr>
            </table>
            <div class="spacer">
                <button class="button" ng-click="ctrl.addUser()"> Add User</button>
            </div>
        </div>
    </div>
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="editModal">
            <md-dialog layout-padding="" class="modal_body">
                <div class="modal_content">
                    <h1>Add User</h1>
                        <form name="add_form">
                        <div class="form-group">
                        <label for="name">Name</label>
                        <input class="input_style" type="text" ng-model="ctrl.name" placeholder="User Name" id="name" required>
                        </div>
                        <div class="form-group">
                        <label for="email">Email</label>
                        <input class="input_style" type="text" ng-model="ctrl.email" placeholder="User Email" id="email" required>
                         </div>
                         <div class="form-group">
                         <label for="role">Role</label>
                        <select class="input_style_select" ng-model="ctrl.role" id="role" required>
                            <option value="Admin">Admin</option>
                            <option value="Standard">Standard</option>
                            <option value="Maintainer">Maintainer</option>
                        </select>
                        </div>
                        </form>
                    <button class="btn btn-primary btn-lg button_regular" ng-click="ctrl.cancel()">Cancel</button>
                    <button class="btn btn-primary btn-lg button_regular" ng-disabled="add_form.$invalid" ng-click="ctrl.postaddUser()">Add</button>
                </div>
            </md-dialog>
        </div>
    </div>
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="editUserModal">
            <md-dialog layout-padding="" class="modal_body">
                <div class="modal_content">
                    <h1>Edit User</h1>
                    <form name="user_form">
                        <div class="form-group">
                            <label for="displayname">Name</label>
                            <input class="input_style" type="text" ng-model="ctrl.user.displayName" placeholder="User Name" id="displayname" required>
                        </div>
                        <div class="form-group">
                            <label for="useremail">Email</label>
                            <input class="input_style" type="text" ng-model="ctrl.user.email" placeholder="User Email" id="useremail" required>
                        </div>
                        <div class="form-group">
                            <label for="userrole">Role</label>
                            <select class="input_style_select" ng-model="ctrl.user.role" id="userrole" required>
                                <option value="Admin">Admin</option>
                                <option value="Standard">Standard</option>
                                <option value="Maintainer">Maintainer</option>
                            </select>
                        </div>
                        <button class="btn btn-primary btn-lg button_regular" ng-click="ctrl.resetUser()">Reset Password</button>
                    </form>
                    <button class="btn btn-primary btn-lg button_regular" ng-click="ctrl.cancel()">Cancel</button>
                    <button class="btn btn-primary btn-lg button_regular" ng-disabled="user_form.$invalid" ng-click="ctrl.posteditUser()">Update</button>
                </div>
            </md-dialog>
        </div>
    </div>
</div>