<div ng-controller="NavbarCtrl as ctrl" class="navbar navbar-default">
    <nav class="menu">
        <a href="#/"><img class="main_logo" src="/img/vynyl.svg" alt="Vynyl Logo" height="40" width="162"></a>
        <div class="menu_padding_non_admin">
            <a ng-if="ctrl.authorized" class="main_link" href="#/device-inventory" ng-cloak>Administration</a>
            <a class="main_link" href="#/available-devices">Available Devices</a>
            <a class="main_link" href="#/checked-out">Checked Out</a>
            <a class="main_link" href="#/profile">Profile</a>
            <a class="last_link" href="/#/logout">Logout</a>
        </div>
    </nav>
</div>
<div>
    <div ng-if="ctrl.Authorized">
        <div class="devices_list" >
            <h2><i class="ion-archive"></i> Checkout Management</h2>
            <div class="sort">
                <p>Sort by:</p>
                <select class="input_style_select" id="sort_select" class="selected" data-ng-model="ctrl.selectedSort">
                    <option value="device_name">Name A-Z</option>
                    <option value="-device_name">Name Z-A</option>
                    <option value="checked_out_user">Checked Out A-Z</option>
                    <option value="-checked_out_user">Checked Out Z-A</option>
                </select>
            </div>
            <table>
                <tr class="special_tr">
                    <th><i class="ion-ipad"></i> Device Name</th>
                    <th><i class="ion-funnel"></i> Device Type</th>
                    <th><i class="ion-person"></i> Checked Out Too</th>
                    <th><i class="ion-forward"></i> Force Check In</th>
                </tr>
                <tr ng-repeat="device in ctrl.devices | orderBy: [ctrl.selectedSort, 'device_name']" ui-sref="edit-device({device: device})" class="device-list">
                    <div class="text">
                        <td>{{device.device_name}}</td>
                        <td>{{device.device_type}}</td>
                        <td>{{device.checked_out_user}}</td>
                        <td><i class="ion-checkmark-round icon-big" ng-click="ctrl.ForceCheckIn(device._id); $event.stopPropagation()"></i></td>
                    </div>
                </tr>
            </table>
            <h2 ng-if="ctrl.showNoCheckouts" class="no_checkouts"><i class="ion-information-circled"></i> No Devices Checked Out!</h2>
        </div>
    </div>
</div>