<div ng-controller="NavbarCtrl as ctrl" class="navbar navbar-default">
    <nav class="menu">
        <a href="#/"><img class="main_logo" src="/img/vynyl.svg" alt="Vynyl Logo" height="40" width="162"></a>
        <div class="menu_padding_non_admin">
            <a ng-if="ctrl.authorized" class="main_link" href="#/device-inventory" ng-cloak>Administration</a>
            <a class="main_link" href="#/available-devices">Available Devices</a>
            <a class="main_link" href="#/checked-out">Checked Out</a>
            <a class="main_link" href="#/profile">Profile</a>
            <a class="last_link" href="/#/logout">Logout</a>
        </div>
    </nav>
</div>
<div>
    <div ng-if="ctrl.Authorized">
        <div class="devices_list" >
            <h2><i class="ion-ipad"></i> Device Management</h2>
            <div class="sort">
                <p>Sort by:</p>
                <select class="input_style_select" id="sort_select" class="selected" data-ng-model="ctrl.selectedSort">
                    <option value="device_name">Name A-Z</option>
                    <option value="-device_name">Name Z-A</option>
                    <option value="device_ram">RAM Least First</option>
                    <option value="-device_ram">RAM Most First</option>
                </select>
            </div>
            <table>
                <tr class="special_tr">
                    <th><i class="ion-ipad"></i> Name</th>
                    <th><i class="ion-funnel"></i> Type</th>
                    <th><i class="ion-ios-barcode"></i> S/N</th>
                    <th><i class="ion-soup-can"></i> Manufacturer</th>
                    <th><i class="ion-information-circled"></i> Model</th>
                    <th><i class="ion-code-working"></i> Software Version</th>
                    <th><i class="ion-monitor"></i> Screen Resolution</th>
                    <th><i class="ion-speedometer"></i> RAM</th>
                    <th><i class="ion-location"></i> Location</th>
                    <th></th>
                    <th></th>
                </tr>

                <tr ng-repeat="device in ctrl.devices | orderBy: [ctrl.selectedSort, 'device_name']" class="device-list">
                    <div class="text">
                        <td>{{device.device_name}}</td>
                        <td>{{device.device_type}}</td>
                        <td>{{device.device_sn}}</td>
                        <td>{{device.device_manufacturer}}</td>
                        <td>{{device.device_model}}</td>
                        <td>{{device.sw_version}}</td>
                        <td>{{device.screen_width}}x{{device.screen_height}}</td>
                        <td>{{device.device_ram}}{{device.ram_type}}</td>
                        <td>{{device.location}}</td>
                    </div>
                    <td><i class="ion-edit icon-big" ng-click="ctrl.editDevice(device); $event.stopPropagation()"></i></td>
                    <td><i class="ion-close icon-big" ng-click="ctrl.removeItem(device._id); $event.stopPropagation()"></i></td>
                </tr>
            </table>
            <div class="spacer">
                <button class="button" ng-click="ctrl.addDevice()">Add Device</button>
            </div>
        </div>
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="editModal">
                <md-dialog layout-padding="" class="modal_body">
                    <div class="modal_content">
                        <h1>Add Device</h1>
                        <form name="add_device_form">
                            <div class="form-group">
                                <input class="input_style" type="text" ng-model="ctrl.device_name" placeholder="Device Name">
                                </div>
                                <div class="form-group">
                                <select class="input_style_select" ng-model="ctrl.device_type">
                                    <option value="Phone">Phone</option>
                                    <option value="Tablet">Tablet</option>
                                    <option value="Watch">Watch</option>
                                    <option value="Computer">Computer</option>
                                </select>
                                </div>
                                <div class="form-group">
                                <input class="input_style" type="text" ng-model="ctrl.device_sn" placeholder="Device S/N">
                                </div>
                                <div class="form-group">
                                <input class="input_style" type="text" ng-model="ctrl.device_manufacturer" placeholder="Manufacturer">
                                </div>
                                <div class="form-group">
                                <input class="input_style" type="text" ng-model="ctrl.device_model" placeholder="Model">
                                </div>
                                <div class="form-group">
                                <input class="input_style" type="text" ng-model="ctrl.sw_version" placeholder="Software Version">
                                </div>
                                <div class="form-group">
                                <input class="input_style screen_input" type="text" ng-model="ctrl.screen_width" placeholder="Width" required> x
                                    <input class="input_style screen_input" type="text" ng-model="ctrl.screen_height" placeholder="Height" required>
                                </div>
                                <div class="form-group">
                                <input class="input_style device_ram_input" type="text" ng-model="ctrl.device_ram" placeholder="Device RAM">
                                    <select class="input_style_select side_input" ng-model="ctrl.device_ram_type">
                                        <option value="GB">GB</option>
                                        <option value="MB">MB</option>
                                        <option value="KB">KB</option>
                                    </select>
                                </div>
                            <div class="form-group">
                                <input class="input_style" type="text" ng-model="ctrl.location" placeholder="Location" required>
                            </div>
                        </form>
                        <button class="btn btn-primary btn-lg button_regular" ng-click="ctrl.cancel()">Cancel</button>
                        <button class="btn btn-primary btn-lg button_regular" ng-disabled="add_device_form.$invalid" ng-click="ctrl.postAddDevice()">Add</button>
                    </div>
                </md-dialog>
            </div>
        </div>
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="editDevice">
                <md-dialog layout-padding="" class="modal_body">
                    <div class="modal_content">
                        <h1>Edit Device</h1>
                        <form name="device_form">
                            <div class="form-group">
                                <input class="input_style" type="text" ng-model="ctrl.deviceData.device_name" placeholder="Device Name">
                            </div>
                            <div class="form-group">
                                <select class="input_style_select" ng-model="ctrl.deviceData.device_type">
                                    <option value="Phone">Phone</option>
                                    <option value="Tablet">Tablet</option>
                                    <option value="Watch">Watch</option>
                                    <option value="Computer">Computer</option>
                                </select>
                            </div>
                            <div class="form-group">
                            <input class="input_style" type="text" ng-model="ctrl.deviceData.device_sn" placeholder="Device S/N">
                            </div>
                            <div class="form-group">
                                <input class="input_style" type="text" ng-model="ctrl.deviceData.device_manufacturer" placeholder="Manufacturer">
                            </div>
                            <div class="form-group">
                                <input class="input_style" type="text" ng-model="ctrl.deviceData.device_model" placeholder="Model">
                            </div>
                            <div class="form-group">
                            <input class="input_style" type="text" ng-model="ctrl.deviceData.sw_version" placeholder="Software Version">
                            </div>
                            <div class="form-group">
                                <input class="input_style screen_input" type="text" ng-model="ctrl.deviceData.screen_width" placeholder="Width" required> x
                                <input class="input_style screen_input" type="text" ng-model="ctrl.deviceData.screen_height" placeholder="Height" required>
                            </div>
                            <div class="form-group">
                                <input class="input_style device_ram_input" type="text" ng-model="ctrl.deviceData.device_ram" placeholder="Device RAM">
                                <select class="input_style_select side_input" ng-model="ctrl.deviceData.ram_type">
                                    <option value="GB">GB</option>
                                    <option value="MB">MB</option>
                                    <option value="KB">KB</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input class="input_style" type="text" ng-model="ctrl.deviceData.location" placeholder="Location" required>
                            </div>
                        </form>
                        <button class="btn btn-primary btn-lg button_regular" ng-click="ctrl.cancel()">Cancel</button>
                        <button class="btn btn-primary btn-lg button_regular" ng-disabled="device_form.$invalid" ng-click="ctrl.postEditDevice()">Update</button>
                    </div>
                </md-dialog>
            </div>
        </div>
    </div>
</div>