<div ng-controller="NavbarCtrl as ctrl" class="navbar navbar-default">
    <nav class="menu">
        <a href="#/"><img class="main_logo" src="/img/vynyl.svg" alt="Vynyl Logo" height="40" width="162"></a>
        <div class="menu_padding_non_admin">
            <a ng-if="ctrl.authorized" class="main_link" href="#/device-inventory" ng-cloak>Administration</a>
            <a class="main_link" href="#/available-devices">Available Devices</a>
            <a class="main_link" href="#/checked-out">Checked Out</a>
            <a class="main_link" href="#/profile">Profile</a>
            <a class="last_link" href="/#/logout">Logout</a>
        </div>
    </nav>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
      <form method="post" ng-submit="updateProfile()">
        <div class="form-group">
          <label class="control-label">Profile Picture</label>
          <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i> Display Name</label>
          <input type="text" class="form-control" ng-model="user.displayName" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Email Address</label>
          <input type="email" class="form-control" ng-model="user.email" />
        </div>
          <div class="form-group">
          <label class="control-label">User Role</label>
          <p >{{user.role}}</p>
        </div>
        <button class="btn btn-lg btn-success">Update Information</button>
      </form>
    </div>
  </div>
    <div class="panel panel-default">
        <div class="panel-heading">Password</div>
        <div class="panel-body">
            <legend class="padding-top"><i class="ion-unlocked"></i> Change Password</legend>
            <form method="post" ng-submit="ctrl.updatePassword()" name="password_reset_form">
                <div class="form-group">
                    <label class="control-label"><i class="ion-locked"></i> Current Password</label>
                    <input type="password" class="form-control" ng-model="ctrl.oldPassword" />
                </div>
                <div class="form-group">
                    <label class="control-label"><i class="ion-locked"></i> New Password</label>
                    <input type="password" class="form-control" ng-model="ctrl.newPassword" />
                </div>
                <button class="btn btn-lg btn-success" ng-disabled="password_reset_form.$invalid">Change</button>
            </form>
        </div>
    </div>

  <div class="panel panel-default">
    <div class="panel-heading">Accounts</div>
    <div class="panel-body">
      <legend><i class="ion-link"></i> Linked Accounts</legend>
      <div class="btn-group-vertical">
        <button class="btn btn-sm btn-danger" ng-if="user.google" ng-click="unlink('google')">
          <i class="ion-social-googleplus"></i> Unlink Google Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.google" ng-click="link('google')">
          <i class="ion-social-googleplus"></i> Link Google Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="user.github" ng-click="unlink('github')">
          <i class="ion-social-github"></i> Unlink GitHub Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.github" ng-click="link('github')">
          <i class="ion-social-github"></i> Link GitHub Account
        </button>
        <button class="btn btn-sm btn-danger" ng-if="user.twitch" ng-click="link('bitbucket')">
          <i class="fa fa-bitbucket"></i> Unlink Bitbucket Account
        </button>
      </div>
    </div>
  </div>
</div>
