<div ng-controller="NavbarCtrl as ctrl" class="navbar navbar-default">
    <nav class="menu">
        <a href="#/"><img class="main_logo" src="/img/vynyl.svg" alt="Vynyl Logo" height="40" width="162"></a>
        <div class="menu_padding_non_admin">
            <a ng-if="ctrl.authorized" class="main_link" href="#/device-inventory" ng-cloak>Administration</a>
            <a class="main_link" href="#/available-devices">Available Devices</a>
            <a class="main_link" href="#/checked-out">Checked Out</a>
            <a class="main_link" href="#/profile">Profile</a>
            <a class="last_link" href="/#/logout">Logout</a>
        </div>
    </nav>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Devices</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> My Devices</legend>
        <div class="devices_list">
            <div class="sort">
                <p>Sort by:</p>
                <select class="input_style_select" id="sort_select" class="selected" data-ng-model="ctrl.selectedSort">
                    <option value="device_name">Name A-Z</option>
                    <option value="-device_name">Name Z-A</option>
                    <option value="device_ram">RAM Least First</option>
                    <option value="-device_ram">RAM Most First</option>
                </select>
            </div>
            <table>
                <tr class="special_tr">
                    <th>Device Name</th>
                    <th>Device Type</th>
                    <th>Device S/N</th>
                    <th>Device Manufacturer</th>
                    <th>Device Model</th>
                    <th>Software Version</th>
                    <th>Screen Resolution</th>
                    <th>RAM</th>
                    <th></th>
                </tr>
                <tr ng-repeat="device in ctrl.devices | orderBy: [ctrl.selectedSort, 'device_name']" class="device-list">
                    <div class="text">
                        <td>{{device.device_name}}</td>
                        <td>{{device.device_type}}</td>
                        <td>{{device.device_sn}}</td>
                        <td>{{device.device_manufacturer}}</td>
                        <td>{{device.device_model}}</td>
                        <td>{{device.sw_version}}</td>
                        <td>{{device.screen_resolution}}</td>
                        <td>{{device.device_ram}}</td>
                    </div>
                    <td class="td_remove"><button ng-click="ctrl.checkInDevice(device._id); $event.stopPropagation()">CheckIn</button></td>
                </tr>
            </table>
        </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
      <form method="post" ng-submit="updateProfile()">
        <div class="form-group">
          <label class="control-label">Profile Picture</label>
          <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i> Display Name</label>
          <input type="text" class="form-control" ng-model="user.displayName" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Email Address</label>
          <input type="email" class="form-control" ng-model="user.email" />
        </div>
          <div class="form-group">
          <label class="control-label">User Role</label>
          <p >{{user.role}}</p>
        </div>
        <button class="btn btn-lg btn-success">Update Information</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Accounts</div>
    <div class="panel-body">
      <legend><i class="ion-link"></i> Linked Accounts</legend>
      <div class="btn-group-vertical">
        <button class="btn btn-sm btn-danger" ng-if="user.google" ng-click="unlink('google')">
          <i class="ion-social-googleplus"></i> Unlink Google Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.google" ng-click="link('google')">
          <i class="ion-social-googleplus"></i> Link Google Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="user.github" ng-click="unlink('github')">
          <i class="ion-social-github"></i> Unlink GitHub Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.github" ng-click="link('github')">
          <i class="ion-social-github"></i> Link GitHub Account
        </button>
        <button class="btn btn-sm btn-danger" ng-if="user.twitch" ng-click="link('bitbucket')">
          <i class="fa fa-bitbucket"></i> Unlink Bitbucket Account
        </button>
      </div>
    </div>
  </div>
</div>
